{
        "version": "10",
        "aliases": {
                "{{ minio_mc_alias }}": {
                        "url": "{{ minio_endpoint }}",
                        "accessKey": "{{ minio_access_key }}",
                        "secretKey": "{{ minio_secret_key}}",
                        "api": "s3v4",
                        "path": "auto"
                }
        }
}
