{
    "version": 0.1,
    "init_time": {{ client_library_init_time }},
    {% if gen2 | bool %}
    "transport_type": "rdd",
    {% endif %}
    "clusters": [
{% for cluster in clusters %}
        {
            "id": {{ cluster.id }},
            "endpoints": [
{% for endpoint in cluster.endpoints %}
                {
                    "ipv4": "{{ endpoint.ipv4 }}",
                    "port": {{ endpoint.port }}
                }{% if not loop.last %},
{% endif %}
{% endfor %}

            ]{% if gen2 | bool %},{% endif %}
            {% if gen2 | bool %}
            
            "rdd_endpoints": [
{% for endpoint in cluster.endpoints %}
                {
                    "ipv4": "{{ endpoint.ipv4 }}",
                    "port": {{ 1234 }}
                }{% if not loop.last %},
{% endif %}
{% endfor %}
            ]
            {% endif %}
        }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
}
