{
    "version": 0.1,
    "init_time": {{ client_library_init_time }},
    "clusters": [
{% for cluster in clusters %}
        {
            "id": {{ cluster.id }},
            "endpoints": [
{% for endpoint in cluster.endpoints %}
                {
                    "ipv4": "{{ endpoint.ipv4 }}",
                    "port": {{ endpoint.port }}
                }{% if not loop.last %},
{% endif %}
{% endfor %}

            ]
        }{% if not loop.last %},
{% endif %}
{% endfor %}

    ]
}
