#!/bin/bash
set -e

source {{ start_dss_target_gcc_setenv }}
{% for serial_number in disk_serial_numbers.stdout_lines -%}
    ./mkfs_blobfs {{ dss_target_conf_dir }}/blobfs.mkfs.in.conf {{ serial_number }}n1
{% endfor %}
source {{ start_dss_target_gcc_restore_setenv }}
