{
  "tess_clients_ip":[
    {%- for client in groups['clients'] -%}
        {%- set client_loop_last = loop.last -%}
        {%- for tcp_ip in hostvars[client].tcp_vlan_ip_list -%}
            "{{ tcp_ip }}"{% if (not loop.last) or (not client_loop_last) %},{% endif -%}
        {%- endfor -%}
    {% endfor -%}
  ],
  "master": {
    "ip_address": "{{ hostvars[groups['clients'][0]].tcp_vlan_ip_list[0] }}",
    "workers": {{ datamover_master_workers }},
    "max_index_size": {{ datamover_master_max_index_size }},
    "size": "{{ datamover_master_size }}"
  },
  "client": {
    "workers": {{ datamover_client_workers }},
    "max_index_size": {{ datamover_client_max_index_size }},
    "user_id": "{{ datamover_client_user_id }}",
    "password": "{{ datamover_client_password }}"
  },
  "message": {
    "port_index": {{ datamover_message_port_index }},
    "port_status": {{ datamover_message_port_status }}
  },
  "nfs_config":{
{% for nfs_server in datamover_nfs_shares %}
    "{{ nfs_server.ip}}": [
  {%- for share in nfs_server.shares -%}
      "{{ share }}"{% if not loop.last %},{% endif -%}
  {% endfor %}]
{%- if not loop.last %},
{% endif %}
{% endfor %}

  },
  "s3_storage": {
    "minio": {"url": "{{ hostvars[groups['servers'][0]].tcp_vlan_ip_list[0] }}:9000", "access_key": "{{ minio_access_key }}", "secret_key": "{{ minio_secret_key }}"},
    "bucket": "{{ datamover_bucket }}",
    "client_lib": "{{ datamover_client_lib }}"
  },
  "operations": ["PUT","GET","DEL","LIST"],
  "logging_path": "{{ datamover_logging_path }}",
  "dss_targets": [
    {%- for server in groups['servers'] -%}
        "{{ hostvars[server].ansible_default_ipv4.address }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  ],
  "environment": {
    "gcc" : {
      "version": "5.1",
      "source" : "/usr/local/bin/setenv-for-gcc510.sh",
      "required": true
    }
  },
  "awslib_log_debug" = "2"
}
