{
  "clients_hosts_or_ip_addresses":[
    {%- for client in groups['clients'] -%}
            "{{ hostvars[client].tcp_alias_list[0].alias }}"{% if not loop.last %},{% endif -%}
    {% endfor -%}
  ],
  "master": {
    "host_or_ip_address": "{{ hostvars[groups['clients'][0]].tcp_alias_list[0].alias }}",
    "workers": {{ datamover_master_workers }},
    "max_index_size": {{ datamover_master_max_index_size }},
    "index_data_queue_size": {{ datamover_index_data_queue_size }},
    "size": "{{ datamover_master_size }}"
  },
  "client": {
    "workers": {{ datamover_client_workers }},
    "max_index_size": {{ datamover_client_max_index_size }},
    "user_id": "{{ datamover_client_user_id }}",
    "password": "{{ datamover_client_password }}"
  },
  "message": {
    "port_index": {{ datamover_message_port_index }},
    "port_status": {{ datamover_message_port_status }}
  },
  "ip_address_family": "{{ hostvars[groups['clients'][0]].tcp_alias_list[0].family }}",
  "fs_config": {
    "mounted": {{ datamover_fs_mounted | to_json }},
    "nfs": {
{% for nfs_server in datamover_nfs_shares %}
      "{{ nfs_server.ip}}": [
  {%- for share in nfs_server.shares -%}
        "{{ share }}"{% if not loop.last %},{% endif -%}
  {% endfor %}]
{%- if not loop.last %},
{% endif %}
{% endfor %}

    }
  },
  "s3_storage": {
    "minio": {"url": "{{ hostvars[minio_hostnames[0]].tcp_alias_list[0].alias }}:9000", "access_key": "{{ minio_access_key }}", "secret_key": "{{ minio_secret_key }}"},
    "bucket": "{{ datamover_bucket }}",
    "client_lib": "{{ datamover_client_lib }}"
  },
  "operations": ["PUT","GET","DEL","LIST"],
  "logging": {"path": "{{ dss_log_dir }}", "level": "{{ datamover_logging_level }}"},
  "dss_targets": {
{% for target in ((groups['servers'] | d([]) + groups['targets'] | d([])) | unique) %}
{% set target_loop = loop %}
    "{{ hostvars[target].inventory_hostname }}": [
      {%- for nqn in hostvars[target].subsystem_nqns -%}
        "{{ nqn }}"{% if not loop.last %},{% endif -%}
      {% endfor %}
]{% if not target_loop.last %},
{% endif %}
{% endfor %}

  },
  "environment": {
    "gcc" : {
      "version": "{{ datamover_gcc_version }}",
      "source" : "{{ gcc_setenv }}",
      "required": true
    }
  },
  "aws": {
   "awslib_log_debug": {{ datamover_awslib_log_debug }}
  }
}
