TYPE=Vlan
VLAN=yes
VLAN_ID={{ vlan.id }}
DEVICE={{ device.netdev }}.{{ vlan.id }}
PHYSDEV={{ device.netdev }}
REORDER_HDR=0
VLAN_EGRESS_PRIORITY_MAP=0:{{ priority }},{{ priority }}:{{ priority }}
VLAN_INGRESS_PRIORITY_MAP={{ priority }}:{{ priority }}
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
NAME={{ device.netdev }}.{{ vlan.id }}
ONBOOT=yes
IPADDR={{ vlan.ip_prefix }}.{{ last_octet }}
NETMASK={{ vlan.netmask }}
PREFIX=8
HWADDRESS={{ mac_address }}
MTU={{ mtu_size }}
